<div class="offcanvas offcanvas-end sidebar-nav" data-bs-backdrop="static" tabindex="-1" id="sideNav" aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
        <div class="logo order-lg-0">
            <a routerLink="/" class="d-flex align-items-center">
                <img src="assets/images/logo/logo_02.svg" alt="">
            </a>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="wrapper mt-60">
        <div class="d-flex flex-column h-100">
            <div class="property-block">
                <h4 class="title pb-25">En vitrine</h4>
                <div class="row">
                    <div class="col-12" *ngFor="let property of listings">
                        <div class="listing-card-one shadow-none style-two mb-40">
                            <div class="img-gallery">
                                <div class="position-relative overflow-hidden">
                                    <div class="tag bg-white text-dark fw-500">{{ property.tag }}</div>
                                    <img [src]="property.imgUrl" class="w-100" alt="...">
                                </div>
                            </div>

                            <div class="property-info d-flex justify-content-between align-items-end pt-30">
                                <div>
                                    <strong class="price fw-500 color-dark fs-3">{{ property.price }}</strong>
                                    <div class="fw-500 color-dark pt-5">{{ property.title }}</div>
                                    <div class="address pt-5 m0">{{ property.address }}</div>
                                </div>
                                <a [routerLink]="property.route" class="btn-four mb-5"><i class="bi bi-arrow-up-right"></i></a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="address-block mt-50">
                <h4 class="title pb-15">Assistance</h4>
                <p>Plateforme tourisme, hôtellerie et mobilité<br>Tunis, Tunisie</p>
                <p>Besoin d'aide ? Appelez le <br><a href="tel:+21671222333">+216 58 324 841</a></p>
            </div>
            
        </div>
    </div>
</div>
