<div class="footer-four dark-bg position-relative z-1">
    <div class="news-letter-area">
        <div class="container container-large">
            <div class="line-wrapper">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="text-center text-lg-start md-mb-40">
                            <h2 class="text-white">Our Newsletter</h2>
                            <p class="fs-24 text-white opacity-75 m0">Get instant news by subscribe to our newsletter</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-wrapper me-auto ms-auto me-lg-0">
                            <form action="#">
                                <input type="email" placeholder="Email address" class="rounded-0">
                                <button class="rounded-0">Get Started</button>
                            </form>
                            <div class="fs-16 mt-10 text-white"><span class="fw-light opacity-75">Already a Agent?</span> <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#loginModal">Sign in.</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container container-large">
        <div class="bg-wrapper position-relative z-1">
            <div class="row">
                <div class="col-xl-3 col-lg-4 mb-60">
                    <div class="footer-intro">
                        <div class="logo mb-20">
                            <a routerLink="/">
                                <img src="assets/images/logo/logo_07.svg" alt="">
                            </a>
                        </div>
                        <p class="mb-45 md-mb-20">11910 Clyde Rapid Suite 210, Willyand, Virginia, United States</p>
                        <ul class="style-none d-flex align-items-center social-icon">
                            <li><a href="javascript:void(0);"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 ms-auto mb-30">
                    <div class="footer-nav ps-xl-5">
                        <h5 class="footer-title text-white">Links</h5>
                        <ul class="footer-nav-link style-none">
                            <li><a routerLink="/">Home</a></li>
                            <li><a routerLink="/membership" target="_blank">Membership</a></li>
                            <li><a routerLink="/about_us_01">About Company</a></li>
                            <li><a routerLink="/blog_01">Blog</a></li>
                            <li><a routerLink="/blog_02">Explore Careers</a></li>
                            <li><a routerLink="/pricing_02">Pricing</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mb-30">
                    <div class="footer-nav">
                        <h5 class="footer-title text-white">Legal</h5>
                        <ul class="footer-nav-link style-none">
                            <li><a routerLink="/faq">Terms & conditions</a></li>
                            <li><a routerLink="/faq">Cookie</a></li>
                            <li><a routerLink="/faq">Privacy policy</a></li>
                            <li><a routerLink="/faq">Faq’s</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 mb-30">
                    <div class="footer-nav">
                        <h5 class="footer-title text-white">New Listing</h5>
                        <ul class="footer-nav-link style-none">
                            <li><a routerLink="/listing_01">​Buy Apartments</a></li>
                            <li><a routerLink="/listing_02">Buy Condos</a></li>
                            <li><a routerLink="/listing_03">Rent Houses</a></li>
                            <li><a routerLink="/listing_04">Rent Industrial</a></li>
                            <li><a routerLink="/listing_05">Buy Villas</a></li>
                            <li><a routerLink="/listing_06">Rent Office</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-footer">
            <p class="m0 text-center fs-16">Copyright &#64;2024 Homy inc.</p>
        </div>
    </div>
</div>