<app-navbar-7></app-navbar-7>
<div class="inner-banner-one inner-banner bg-pink text-center z-1 pt-160 lg-pt-130 pb-160 xl-pb-120 md-pb-80 position-relative">
    <div class="container">
        <h3 class="mb-35 xl-mb-20 pt-15">Pricing Plan</h3>
        <ul class="theme-breadcrumb style-none d-inline-flex align-items-center justify-content-center position-relative z-1 bottom-line">
            <li><a routerLink="/">Home</a></li>
            <li>/</li>
            <li><a href="javascript:void(0);">Pages</a></li>
            <li>/</li>
            <li>Pricing</li>
        </ul>
    </div>
    <img src="assets/images/assets/ils_07.svg" alt="" class="lazy-img shapes w-100 illustration">
</div>
<div class="pricing-section-one mt-150 xl-mt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="title-one text-center mb-40 lg-mb-30 fadeInUp" data-aos="fade-up">
                    <h3>Unbeatable prices, no contracts, simple & easy</h3>
                    <p class="fs-24">Try Team plan features for 14 days · No credit card required</p>
                </div>
            </div>
        </div>

        <div class="pr-table-one">
            <nav class="pricing-nav-one d-flex justify-content-center">
                <div class="nav nav-tabs" role="tablist">
                    <button class="nav-link active" id="monthly-tab" data-bs-toggle="tab" data-bs-target="#monthly" type="button" role="tab" aria-controls="monthly" aria-selected="true">Monthly</button>
                    <button class="nav-link" id="yearly-tab" data-bs-toggle="tab" data-bs-target="#yearly" type="button" role="tab" aria-controls="yearly" aria-selected="false">Yearly</button>
                </div>
            </nav>
            <div class="discount-text mt-15 text-center">Save 30% on Annual plan</div>
            <div class="dot-bg-wrapper mt-60 lg-mt-40">
                <div class="tab-content">
                    <div class="tab-pane show active" id="monthly" role="tabpanel" aria-labelledby="buy-tab" tabindex="0">
                        <div class="main-bg d-flex flex-wrap justify-content-end position-relative">
                            <div class="left-panel d-none d-lg-block">
                                <ul class="style-none">
                                    <li *ngFor="let feature of features">{{ feature }}</li>
                                </ul>

                            </div>
                            <div *ngFor="let plan of plansMonthly" class="pr-column-wrapper" [ngClass]="{'active': plan.name === 'FREE PLAN'}">
                                <div class="pr-header text-center">
                                    <div class="plan text-uppercase">{{ plan.name }}</div>
                                    <strong class="price fw-500">{{ plan.price }}</strong>
                                    <p class="fs-16">{{ plan.description }}</p>
                                </div>
                                <ul class="style-none text-center">
                                    <li *ngFor="let isAvailable of plan.availableFeatures">
                                        <span class="fw-500 color-dark">All Operating Supported</span>
                                        <div class="icon d-flex align-items-center justify-content-center rounded-circle" [ngClass]="{ 'available': isAvailable }">
                                            <i [ngClass]="isAvailable ? 'fa-sharp fa-regular fa-check' : 'fa-sharp fa-regular fa-xmark'"></i>
                                        </div>
                                    </li>
                                </ul>
                                <div class="pr-footer text-center">
                                    <a href="javascript:void(0);" class="btn-twelve sm">{{ plan.buttonLabel }}</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane" id="yearly" role="tabpanel" aria-labelledby="rent-tab" tabindex="0">
                        <div class="main-bg d-flex flex-wrap justify-content-end position-relative">
                            <div class="left-panel d-none d-lg-block">
                                <ul class="style-none">
                                    <li *ngFor="let feature of features">{{ feature }}</li>
                                </ul>

                            </div>
                            <div *ngFor="let plan of plansYearly" class="pr-column-wrapper" [ngClass]="{'active': plan.name === 'FREE PLAN'}">
                                <div class="pr-header text-center">
                                    <div class="plan text-uppercase">{{ plan.name }}</div>
                                    <strong class="price fw-500">{{ plan.price }}</strong>
                                    <p class="fs-16">{{ plan.description }}</p>
                                </div>
                                <ul class="style-none text-center">
                                    <li *ngFor="let isAvailable of plan.availableFeatures">
                                        <span class="fw-500 color-dark">All Operating Supported</span>
                                        <div class="icon d-flex align-items-center justify-content-center rounded-circle" [ngClass]="{ 'available': isAvailable }">
                                            <i [ngClass]="isAvailable ? 'fa-sharp fa-regular fa-check' : 'fa-sharp fa-regular fa-xmark'"></i>
                                        </div>
                                    </li>
                                </ul>
                                <div class="pr-footer text-center">
                                    <a href="javascript:void(0);" class="btn-twelve sm">{{ plan.buttonLabel }}</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fancy-banner-three position-relative text-center z-1 pt-140 xl-pt-100 md-pt-80 pb-150 xl-pb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-md-8 m-auto">
                <div class="title-one mb-45 md-mb-30">
                    <h2>Any Inquiry? <span>Feel free<img src="assets/images/shape/title_shape_08.svg" alt="" class="lazy-img"></span> To contact Us.</h2>
                </div>
                <a routerLink="/contact" class="btn-five text-uppercase">SEND MESSAGE</a>
            </div>
        </div>
    </div>
</div>
<app-fancy-banner-two></app-fancy-banner-two>
<app-footer-5></app-footer-5>