<div class="footer-three">
    <div class="container container-large">
        <div class="bg-wrapper position-relative z-1">
            <div class="row">
                <div class="col-xl-3 mb-40 lg-mb-60">
                    <div class="footer-intro pe-xxl-5 pe-xl-3">
                        <div class="logo mb-15">
                            <a routerLink="/">
                                <img src="assets/images/logo/logo_06.svg" alt="">
                            </a>
                        </div>

                        <p class="mb-45 lg-mb-30">11910 Clyde Rapid Suite 210, Wil, Virginia, USA</p>
                        <ul class="style-none d-flex align-items-center social-icon">
                            <li><a href="javascript:void(0);"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a></li>
                        </ul>
                        <img src="assets/images/shape/shape_52.svg" alt="" class="lazy-img ms-auto d-none d-xl-block">
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 mb-30">
                    <div class="footer-nav">
                        <h5 class="footer-title">Links</h5>
                        <ul class="footer-nav-link style-none">
                            <li><a routerLink="/">Home</a></li>
                            <li><a routerLink="/membership" target="_blank">Membership</a></li>
                            <li><a routerLink="/about_us_01">About Company</a></li>
                            <li><a routerLink="/blog_01">Blog</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-6 mb-30">
                    <div class="footer-nav">
                        <h5 class="footer-title">New Listing</h5>
                        <ul class="footer-nav-link style-none">
                            <li><a routerLink="/listing_01">​Buy Apartments</a></li>
                            <li><a routerLink="/listing_02">Buy Condos</a></li>
                            <li><a routerLink="/listing_03">Rent Houses</a></li>
                            <li><a routerLink="/listing_04">Rent Industrial</a></li>
                            <li><a routerLink="/listing_05">Buy Villas</a></li>
                            <li><a routerLink="/listing_06">Rent Office</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-6 mb-30">
                    <div class="footer-nav">
                        <h5 class="footer-title">Legal</h5>
                        <ul class="footer-nav-link style-none">
                            <li><a routerLink="/faq">Terms & conditions</a></li>
                            <li><a routerLink="/faq">Cookie</a></li>
                            <li><a routerLink="/faq">Privacy policy</a></li>
                            <li><a routerLink="/faq">Faq’s</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
                    <h5 class="footer-title">Newsletters</h5>
                    <p class="pt-5">Join & get important new regularly</p>
                    <form action="javascript:void(0);" class="newsletter-form position-relative">
                        <input type="email" placeholder="Enter your email">
                        <button class="fw-500 fs-16 text-white tran3s">Send</button>
                    </form>
                    <span class="fs-14 opacity-75">We only send interesting and relevant emails.</span>
                </div>
            </div>
        </div>

        <div class="bottom-footer">
            <div class="d-md-flex justify-content-center justify-content-md-between align-items-center">
                <ul class="style-none bottom-nav d-flex justify-content-center">
                    <li><a routerLink="/faq">Privacy &amp; Terms</a></li>
                    <li><a routerLink="/contact">Contact Us</a></li>
                </ul>
                <p class="mb-15 text-center text-lg-start fs-16 order-md-first">Copyright &#64;2024 Homy inc.</p>
            </div>
        </div>
    </div>
</div>