<header [ngClass]="headerClass">
    <div class="inner-content gap-one">
        <div class="top-header position-relative">
            <div class="d-flex align-items-center justify-content-between">
                <div class="logo order-lg-0">
                    <a routerLink="/" class="d-flex align-items-center">
                        <img src="assets/images/logo/logo_01.svg" alt="">
                    </a>
                </div>
                <div class="right-widget ms-auto ms-lg-0 me-3 me-lg-0 order-lg-3">
                    <ul class="d-flex align-items-center style-none">
                        <li>
                            <a href="javascript:void(0);" (click)="openModal()" class="btn-one"><i class="fa-regular fa-lock"></i> <span>Login</span></a>
                        </li>
                    </ul>
                </div>
                <nav class="navbar navbar-expand-lg p0 order-lg-2">
                    <button class="navbar-toggler d-block d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <app-menu-list></app-menu-list>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>