<div class="footer-two">
    <div class="container container-large">
        <div class="bg-wrapper position-relative z-1">
            <div class="news-letter-area">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="text-center text-lg-start md-mb-20">
                            <h2>Nos Actualités</h2>
                            <p class="fs-20 m0">Consultez les nouveautés hôtels, voitures et zones touristiques.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-between">
                <div class="col-xl-3">
                    <div class="footer-intro position-relative z-1 pt-70 pb-150 lg-pb-20">
                        <div class="logo mb-15">
                            <a routerLink="/">
                                <img src="assets/images/logo/logo_05.svg" alt="">
                            </a>
                        </div>

                        <p class="mb-45 lg-mb-30 pe-2 pe-lg-5">Plateforme de réservation dédiée aux hôtels, agences de location et zones touristiques.</p>
                        <ul class="style-none contact-info">
                            <li class="d-flex align-items-center">
                                <img src="assets/images/icon/icon_30.svg" alt="" width="20">
                                <a href="mailto:contact@homy.com">contact@homy.com</a>
                            </li>
                            <li class="d-flex align-items-center">
                                <img src="assets/images/icon/icon_31.svg" alt="" width="20">
                                <a href="tel:+21671222333">+216 70 103 206</a>
                            </li>
                        </ul>
                
                    </div>
                </div>
                <div class="col-xl-9">
                    <div class="ms-xxl-5 ps-xl-5 mt-200 lg-mt-20">
                        <div class="row justify-content-between">
                            <div class="col-lg-3 col-md-4">
                                <div class="footer-nav pt-30">
                                    <h5 class="footer-title">Navigation</h5>
                                    <ul class="footer-nav-link style-none">
                                        <li><a routerLink="/">Accueil</a></li>
                                        <li><a routerLink="/hotels">Hôtels</a></li>
                                        <li><a routerLink="/zones-touristiques">Zones touristiques</a></li>
                                        <li><a routerLink="/agences-voitures">Agences voitures</a></li>
                                        <li><a routerLink="/avis-commentaires">Avis & commentaires</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-xl-4 col-lg-3 col-md-4">
                                <div class="footer-nav pt-30">
                                    <h5 class="footer-title">Informations</h5>
                                    <ul class="footer-nav-link style-none">
                                        <li><a routerLink="/contact">Contact</a></li>
                                        <li><a routerLink="/faq">FAQ</a></li> 
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="col-xxl-3 col-lg-2 d-none d-lg-block">
                                <img src="assets/images/shape/shape_47.svg" alt="" class="lazy-img mt-50">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bottom-footer">
            <div class="d-md-flex justify-content-center justify-content-md-between align-items-center">
                
                <p class="mb-15 text-center text-lg-start order-md-first">Copyright &#64;2026 TourismHub.</p>
            </div>
        </div>
    </div>
</div>
