<div class="footer-two">
    <div class="container container-large">
        <div class="bg-wrapper position-relative z-1">
            <div class="news-letter-area">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="text-center text-lg-start md-mb-20">
                            <h2>Notre newsletter</h2>
                            <p class="fs-20 m0">Recevez les nouveautés hôtels, voitures et zones touristiques.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-wrapper me-auto ms-auto me-lg-0">
                            <!-- TODO backend: connecter ce formulaire au service d'abonnement newsletter -->
                            <form action="javascript:void(0);">
                                <input type="email" placeholder="Votre adresse e-mail">
                                <button><i class="fa-light fa-arrow-right-long"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-between">
                <div class="col-xl-3">
                    <div class="footer-intro position-relative z-1 pt-70 pb-150 lg-pb-20">
                        <div class="logo mb-15">
                            <a routerLink="/">
                                <img src="assets/images/logo/logo_05.svg" alt="">
                            </a>
                        </div>

                        <p class="mb-45 lg-mb-30 pe-2 pe-lg-5">Plateforme de réservation dédiée aux hôtels, agences de location et zones touristiques.</p>
                        <ul class="style-none contact-info">
                            <li class="d-flex align-items-center">
                                <img src="assets/images/icon/icon_30.svg" alt="" width="20">
                                <a href="mailto:contact@tourismhub.tn">contact&#64;tourismhub.tn</a>
                            </li>
                            <li class="d-flex align-items-center">
                                <img src="assets/images/icon/icon_31.svg" alt="" width="20">
                                <a href="tel:+21671222333">+216 71 222 333</a>
                            </li>
                        </ul>
                        <ul class="style-none d-flex align-items-center social-icon">
                            <li><a href="javascript:void(0);"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a></li>
                        </ul>
                        <img src="assets/images/shape/shape_46.svg" alt="" class="lazy-img shapes shape_01 d-none d-xl-block">
                    </div>
                </div>
                <div class="col-xl-9">
                    <div class="ms-xxl-5 ps-xl-5 mt-200 lg-mt-20">
                        <div class="row justify-content-between">
                            <div class="col-lg-3 col-md-4">
                                <div class="footer-nav pt-30">
                                    <h5 class="footer-title">Navigation</h5>
                                    <ul class="footer-nav-link style-none">
                                        <li><a routerLink="/">Accueil</a></li>
                                        <li><a routerLink="/hotels">Hôtels</a></li>
                                        <li><a routerLink="/zones-touristiques">Zones touristiques</a></li>
                                        <li><a routerLink="/agences-voitures">Agences voitures</a></li>
                                        <li><a routerLink="/reservations">Réservations</a></li>
                                        <li><a routerLink="/tableau-de-bord">Dashboard admin</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-xl-4 col-lg-3 col-md-4">
                                <div class="footer-nav pt-30">
                                    <h5 class="footer-title">Informations</h5>
                                    <ul class="footer-nav-link style-none">
                                        <li><a routerLink="/contact">Contact</a></li>
                                        <li><a routerLink="/faq">FAQ</a></li>
                                        <li><a routerLink="/avis-commentaires">Avis & commentaires</a></li>
                                        <li><a routerLink="/facturation">Facturation</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4">
                                <div class="footer-nav pt-30">
                                    <h5 class="footer-title">Fonctionnalités</h5>
                                    <ul class="footer-nav-link style-none">
                                        <li><a routerLink="/utilisateurs">Gestion des utilisateurs</a></li>
                                        <li><a routerLink="/hotels">Gestion des hôtels</a></li>
                                        <li><a routerLink="/wishlist">Wishlist</a></li>
                                        <li><a routerLink="/profil-admin">Profil administrateur</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-lg-2 d-none d-lg-block">
                                <img src="assets/images/shape/shape_47.svg" alt="" class="lazy-img mt-50">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bottom-footer">
            <div class="d-md-flex justify-content-center justify-content-md-between align-items-center">
                <ul class="style-none bottom-nav d-flex flex-wrap justify-content-center">
                    <li><a routerLink="/faq">Mentions &amp; conditions</a></li>
                    <li><a routerLink="/faq">Cookies</a></li>
                    <li><a routerLink="/contact">Nous contacter</a></li>
                </ul>
                <p class="mb-15 text-center text-lg-start order-md-first">Copyright &#64;2026 TourismHub.</p>
            </div>
        </div>
    </div>
</div>
