<app-navbar-7></app-navbar-7>
<div class="inner-banner-one inner-banner bg-pink text-center z-1 pt-160 lg-pt-130 pb-160 xl-pb-120 md-pb-80 position-relative">
    <div class="container">
        <h3 class="mb-35 xl-mb-20 pt-15">Our Projects</h3>
        <ul class="theme-breadcrumb style-none d-inline-flex align-items-center justify-content-center position-relative z-1 bottom-line">
            <li><a routerLink="/">Home</a></li>
            <li>/</li>
            <li><a href="javascript:void(0);">Pages</a></li>
            <li>/</li>
            <li>Project</li>
        </ul>
    </div>
    <img src="assets/images/assets/ils_07.svg" alt="" class="lazy-img shapes w-100 illustration">
</div>
<div class="project-section-one mt-150 xl-mt-100">
    <div class="container">
        <div class="filter-nav-one">
            <ul class="style-none d-flex justify-content-center flex-wrap isotop-menu-wrapper">
                <li *ngFor="let category of categories" class="rounded-0" [ngClass]="{'is-checked': currentFilter === category.value}" (click)="applyFilter(category.value)">
                    {{ category.label }}
                </li>
            </ul>
        </div>

        <div id="isotop-gallery-wrapper" class="row g-lg-5 pt-40 xl-pt-10">
            <div class="grid-sizer"></div>
            <div class="isotop-item col-md-6 col-lg-6" *ngFor="let item of filteredItems" [ngClass]="item.type">
                <div class="project-block-one mt-50 lg-mt-30">
                    <figure class="image-wrapper m0 position-relative z-1 overflow-hidden">
                        <img [src]="item.img" alt="" class="w-100">
                        <a [href]="item.img" class="btn-four inverse rounded-circle"><i class="bi bi-arrow-up-right"></i></a>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fancy-banner-three position-relative text-center z-1 pt-140 xl-pt-100 md-pt-80 pb-150 xl-pb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-md-8 m-auto">
                <div class="title-one mb-45 md-mb-30">
                    <h2>Any Inquiry? <span>Feel free<img src="assets/images/shape/title_shape_08.svg" alt="" class="lazy-img"></span> To contact Us.</h2>
                </div>
                <a routerLink="/contact" class="btn-five text-uppercase">SEND MESSAGE</a>
            </div>
        </div>
    </div>
</div>

<app-fancy-banner-two></app-fancy-banner-two>
<app-footer-5></app-footer-5>