<header class="dashboard-header">
    <div class="d-flex align-items-center justify-content-end">

        <h4 class="m0 d-none d-lg-block">{{ Title }}</h4>

        <button class="dash-mobile-nav-toggler d-block d-md-none me-auto">
            <span></span>
        </button>

        <!-- NOTIFICATIONS -->
        <div class="profile-notification position-relative dropdown-center ms-3 ms-md-5 me-4">
            <button class="noti-btn dropdown-toggle" type="button" data-bs-toggle="dropdown">
                <img src="assets/dashboard-images/icon/icon_11.svg" alt="" class="lazy-img">
                <div class="badge-pill"></div>
            </button>

            <ul class="dropdown-menu">
                <li>
                    <h4>Notifications</h4>
                    <ul class="style-none notify-list">
                        <li class="d-flex align-items-center unread">
                            <img src="assets/dashboard-images/icon/icon_36.svg" class="lazy-img icon">
                            <div class="flex-fill ps-2">
                                <h6>3 nouvelles réservations à valider</h6>
                                <span class="time">Il y a 3 heures</span>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <!-- 🔥 BOUTON HOTEL -->
        <div *ngIf="showAdminButtons" class="d-none d-md-block me-2">
            <a routerLink="/fiche-hotel" class="btn-two">
                <span>Nouvelle fiche hôtel</span>
            </a>
        </div>

         <!-- 🔥🔥 NEW: BOUTON AGENCE -->
         <div *ngIf="showAdminButtons" class="d-none d-md-block me-3">
             <a routerLink="/fiche-agence" class="btn-two">
                 <span>Nouvelle fiche agence</span>
             </a>
         </div>

    </div>
</header>