<header class="dashboard-header">
    <div class="d-flex align-items-center justify-content-end">
        <h4 class="m0 d-none d-lg-block">{{ Title }}</h4>
        <button class="dash-mobile-nav-toggler d-block d-md-none me-auto">
            <span></span>
        </button>
        <form action="javascript:void(0);" class="search-form ms-auto">
            <input type="text" placeholder="Rechercher un hôtel, une réservation, un client...">
            <button><img src="assets/dashboard-images/icon/icon_43.svg" alt="" class="lazy-img m-auto"></button>
        </form>
        <div class="profile-notification position-relative dropdown-center ms-3 ms-md-5 me-4">
            <button class="noti-btn dropdown-toggle" type="button" id="notification-dropdown" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                <img src="assets/dashboard-images/icon/icon_11.svg" alt="" class="lazy-img">
                <div class="badge-pill"></div>
            </button>
            <ul class="dropdown-menu" aria-labelledby="notification-dropdown">
                <li>
                    <h4>Notifications</h4>
                    <ul class="style-none notify-list">
                        <li class="d-flex align-items-center unread">
                            <img src="assets/dashboard-images/icon/icon_36.svg" alt="" class="lazy-img icon">
                            <div class="flex-fill ps-2">
                                <h6>3 nouvelles réservations à valider</h6>
                                <span class="time">Il y a 3 heures</span>
                            </div>
                        </li>
                        <li class="d-flex align-items-center">
                            <img src="assets/dashboard-images/icon/icon_37.svg" alt="" class="lazy-img icon">
                            <div class="flex-fill ps-2">
                                <h6>Une nouvelle zone touristique a été publiée</h6>
                                <span class="time">Hier</span>
                            </div>
                        </li>
                        <li class="d-flex align-items-center unread">
                            <img src="assets/dashboard-images/icon/icon_38.svg" alt="" class="lazy-img icon">
                            <div class="flex-fill ps-2">
                                <h6>Une facture reste en attente de paiement</h6>
                                <span class="time">Il y a 3 jours</span>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="d-none d-md-block me-3">
            <a routerLink="/fiche-hotel" class="btn-two"><span>Nouvelle fiche hôtel</span> <i class="fa-thin fa-arrow-up-right"></i></a>
        </div>
        <div class="user-data position-relative">
            <button class="user-avatar online position-relative rounded-circle dropdown-toggle" type="button" id="profile-dropdown" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                <img src="assets/dashboard-images/avatar_01.jpg" alt="" class="lazy-img">
            </button>
            <div class="user-name-data">
                <ul class="dropdown-menu" aria-labelledby="profile-dropdown">
                    <li>
                        <a class="dropdown-item d-flex align-items-center" routerLink="/profil-admin"><img src="assets/dashboard-images/icon/icon_23.svg" alt="" class="lazy-img"><span class="ms-2 ps-1">Profil admin</span></a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" routerLink="/facturation"><img src="assets/dashboard-images/icon/icon_24.svg" alt="" class="lazy-img"><span class="ms-2 ps-1">Facturation</span></a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#deleteModal"><img src="assets/dashboard-images/icon/icon_25.svg" alt="" class="lazy-img"><span class="ms-2 ps-1">Archiver le compte</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
