<app-navbar-1></app-navbar-1>

<div class="inner-banner-one inner-banner bg-pink text-center z-1 pt-160 lg-pt-130 pb-160 xl-pb-120 md-pb-80 position-relative">
    <div class="container">
        <h3 class="mb-35 xl-mb-20 pt-15">Service Details</h3>
        <ul class="theme-breadcrumb style-none d-inline-flex align-items-center justify-content-center position-relative z-1 bottom-line">
            <li><a routerLink="/">Home</a></li>
            <li>/</li>
            <li><a routerLink="/service_01">Service</a></li>
            <li>/</li>
            <li>Buy Home</li>
        </ul>
    </div>
    <img src="assets/images/assets/ils_07.svg" alt="" class="lazy-img shapes w-100 illustration">
</div>

<div class="service-details mt-150 xl-mt-100 mb-150 xl-mb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="service-post">
                    <div class="btn-line fw-500 text-uppercase">BUY PROPERTY</div>
                    <h3 class="mb-30">We help you buy your dream home.</h3>
                    <p class="fs-20 lh-lg pb-25">Risk management and compliance can generate value beyond mitigating threats and protecting a company.</p>
                    <p class="fs-20 lh-lg">Our team assists clients in transforming uncertainty into opportunities, enabling them to thrive in a changing business landscape.</p>

                    <div class="img-gallery pt-15 pb-70 lg-pb-50">
                        <div class="row">
                            <div class="col-8"><img src="assets/images/media/img_57.jpg" alt="" class="lazy-img w-100 mt-20"></div>
                            <div class="col-4"><img src="assets/images/media/img_58.jpg" alt="" class="lazy-img w-100 mt-20"></div>
                        </div>
                    </div>

                    <h4 class="mb-30">Quick Processing</h4>
                    <p class="fs-24">Your trusted real estate advocate, guiding you to your home.</p>

                    <div class="feature-wrapper mt-60 lg-mt-40 mb-65 lg-mb-40">
                        <div class="row">
                            <div class="col-xl-4 col-lg-6 col-md-4" *ngFor="let service of services">
                                <div class="card-style-eleven mt-30">
                                    <div class="icon"><img [src]="service.icon" alt="" class="lazy-img"></div>
                                    <h5 class="mt-30 mb-20">{{ service.title }}</h5>
                                    <p>{{ service.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4 class="mb-30">Benefits You Will Get</h4>
                    <ul class="list-style-one fs-22 color-dark style-none">
                        <li>Loan & low Interest facility</li>
                        <li>100k+ Property Listings</li>
                        <li>Experienced Agents</li>
                        <li>Priority Access for exclusive sales</li>
                    </ul>
                    <a routerLink="/contact" class="btn-two mt-30">Contact Us</a>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="ms-xl-5">
                    <div class="service-sidebar md-mt-80">
                        <div class="service-category">
                            <ul class="style-none">
                                <li *ngFor="let category of serviceCategories">
                                    <a href="javascript:void(0);" [class.active]="category.isActive">{{ category.name }}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="contact-banner text-center mt-45">
                            <h4 class="mb-35 text-white">Any Questions? <br>Let’s talk</h4>
                            <a routerLink="/contact" class="btn-two">Let’s Talk</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-fancy-banner-two></app-fancy-banner-two>
<app-footer-5></app-footer-5>