<app-navbar-6></app-navbar-6>
<div class="inner-banner-two inner-banner z-1 pt-170 xl-pt-150 md-pt-130 pb-140 xl-pb-100 md-pb-80 position-relative" style="background-image: url(assets/images/media/img_49.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3 class="mb-45 xl-mb-30 md-mb-20">Blog Grid</h3>
                <ul class="theme-breadcrumb style-none d-inline-flex align-items-center justify-content-center position-relative z-1 bottom-line">
                    <li><a routerLink="/">Home</a></li>
                    <li>/</li>
                    <li><a href="javascript:void(0);">Pages</a></li>
                    <li>/</li>
                    <li>Blog</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <p class="sub-heading">Over 745,000 listings, apartments, lots and plots available now!</p>
            </div>
        </div>
    </div>
</div>
<div class="blog-section-three mt-130 xl-mt-100 mb-150 xl-mb-100">
    <div class="container container-large">
        <div class="row">
            <div class="col-lg-8">
                <div class="row gx-xxl-5">
                    <div class="col-md-6" *ngFor="let blog of blogs">
                        <article class="blog-meta-two tran3s position-relative z-1 mb-70 lg-mb-40 fadeInUp" data-aos="fade-up">
                            <figure class="post-img position-relative m0" [style.backgroundImage]="'url(' + blog.image + ')'">
                                <a [routerLink]="blog.link" class="date">{{ blog.date }}</a>
                            </figure>
                            <div class="post-data">
                                <div class="post-info">
                                    <a [routerLink]="blog.link">{{ blog.author }} .</a> {{ blog.time }}
                                </div>
                                <div class="d-flex justify-content-between align-items-sm-center flex-wrap">
                                    <a [routerLink]="blog.link" class="blog-title">
                                        <h4>{{ blog.title }}</h4>
                                    </a>
                                    <a href="javascript:void(0);" class="btn-four"><i class="bi bi-arrow-up-right"></i></a>
                                </div>
                            </div>
                            <div class="hover-content tran3s">
                                <a [routerLink]="blog.link" class="date">{{ blog.date }}</a>
                                <div class="post-data">
                                    <div class="post-info">
                                        <a [routerLink]="blog.link">{{ blog.author }} .</a> {{ blog.time }}
                                    </div>
                                    <div class="d-flex justify-content-between align-items-sm-center flex-wrap">
                                        <a [routerLink]="blog.link" class="blog-title">
                                            <h4>{{ blog.title }}</h4>
                                        </a>
                                    </div>
                                </div>
                                <a [routerLink]="blog.link" class="btn-four inverse rounded-circle">
                                    <i class="fa-thin fa-arrow-up-right"></i>
                                </a>
                            </div>
                        </article>
                    </div>
                </div>

                <ul class="pagination-one square d-flex align-items-center style-none pt-30">
                    <li><a href="javascript:void(0);">1</a></li>
                    <li class="active"><a href="javascript:void(0);">2</a></li>
                    <li><a href="javascript:void(0);">3</a></li>
                    <li><a href="javascript:void(0);">4</a></li>
                    <li>....</li>
                    <li class="ms-2"><a href="javascript:void(0);" class="d-flex align-items-center">Last <img src="assets/images/icon/icon_46.svg" alt="" class="ms-2"></a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <div class="blog-sidebar dot-bg ms-xxl-5 md-mt-60">
                    <div class="search-form bg-white mb-30">
                        <form action="javascript:void(0);" class="position-relative">
                            <input type="text" placeholder="Search...">
                            <button><i class="fa-sharp fa-regular fa-magnifying-glass"></i></button>
                        </form>
                    </div>
                    <div class="categories bg-white bg-wrapper mb-30">
                        <h5 class="mb-20">Category</h5>
                        <ul class="style-none">
                            <li *ngFor="let category of categories">
                                <a href="javascript:void(0);">{{ category.name }} ({{ category.count }})</a>
                            </li>
                        </ul>
                    </div>
                    <div class="recent-news bg-white bg-wrapper mb-30">
                        <h5 class="mb-20">Recent News</h5>
                        <div *ngFor="let news of recentNews" class="news-block d-flex align-items-center pb-25" [ngClass]="{ 'pb-25': news !== recentNews[recentNews.length - 1] }">
                            <div><img [src]="news.image" alt="" class="lazy-img"></div>
                            <div class="post ps-4">
                                <h4 class="mb-5">
                                    <a [routerLink]="news.link" class="title tran3s">{{ news.title }}</a>
                                </h4>
                                <div class="date">{{ news.date }}</div>
                            </div>
                        </div>
                    </div>

                    <div class="keyword bg-white bg-wrapper">
                        <h5 class="mb-20">Keywords</h5>
                        <ul class="style-none d-flex flex-wrap">
                            <li *ngFor="let keyword of keywords">
                                <a href="javascript:void(0);">{{ keyword }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-fancy-banner-two></app-fancy-banner-two>
<app-footer-5></app-footer-5>