<div class="feedback-section-seven mt-170 xl-mt-120 md-mt-80">
    <div class="container container-large">
        <div class="position-relative z-1">
            <div class="row">
                <div class="col-lg-5">
                    <div class="title-one mt-30 md-mb-50 pe-xxl-4 fadeInLeft" data-aos="fade-left">
                        <div class="upper-title">CLIENT Feedback</div>
                        <h3>Rely on Clients, Not Just Our Claims.</h3>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="content-wrapper position-relative z-1 ms-xxl-3">
                        <div class="icon d-flex align-items-center justify-content-center rounded-circle mb-35"><img src="assets/images/icon/icon_38.svg" alt="" class="lazy-img"></div>

                        <div class="swiper-container swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="feedback-block-five">
                                        <blockquote>Quick solutions coupled with extraordinary <span>performance</span> a recommendation that's unequivocal.</blockquote>
                                        <div class="d-flex align-items-center justify-content-end">
                                            <div class="pe-3 text-end">
                                                <h6 class="fs-20 m0">Musa Delimuza</h6>
                                                <span class="fs-16 opacity-50">Miami, USA</span>
                                            </div>
                                            <img src="assets/images/media/img_01.jpg" alt="" class="rounded-circle avatar">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="feedback-block-five">
                                        <blockquote>Found our dream home. Great <span>Business</span> with them. To thank you for excellent service.</blockquote>
                                        <div class="d-flex align-items-center justify-content-end">
                                            <div class="pe-3 text-end">
                                                <h6 class="fs-20 m0">Alina Cruse</h6>
                                                <span class="fs-16 opacity-50">Miami, Italy</span>
                                            </div>
                                            <img src="assets/images/media/img_02.jpg" alt="" class="rounded-circle avatar">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="feedback-block-five">
                                        <blockquote>Efficient and friendly service, guided us <span>perfectly</span> I am satisfied with our new home. Thank you!</blockquote>
                                        <div class="d-flex align-items-center justify-content-end">
                                            <div class="pe-3 text-end">
                                                <h6 class="fs-20 m0">Rashed Ka.</h6>
                                                <span class="fs-16 opacity-50">Miami, USA</span>
                                            </div>
                                            <img src="assets/images/media/img_03.jpg" alt="" class="rounded-circle avatar">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rating-box">
                <img src="assets/images/shape/shape_62.svg" alt="" class="lazy-img">
                <div class="rate fw-500">9.3 <br><span>Rating</span></div>
            </div>
        </div>
    </div>
</div>