<app-navbar-1></app-navbar-1>
<div class="inner-banner-one inner-banner bg-pink text-center z-1 pt-160 lg-pt-130 pb-160 xl-pb-120 md-pb-80 position-relative">
    <div class="container">
        <h3 class="mb-35 xl-mb-20 pt-15">Question & Answers</h3>
        <ul class="theme-breadcrumb style-none d-inline-flex align-items-center justify-content-center position-relative z-1 bottom-line">
            <li><a routerLink="/">Home</a></li>
            <li>/</li>
            <li><a href="javascript:void(0);">Pages</a></li>
            <li>/</li>
            <li>Faq’s</li>
        </ul>
    </div>
    <img src="assets/images/assets/ils_07.svg" alt="" class="lazy-img shapes w-100 illustration">
</div>
<div class="faq-section-two mt-130 xl-mt-100 mb-150 xl-mb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 fadeInLeft" data-aos="fade-up">
                <div class="faq-sidebar">
                    <div class="bg-wrapper">
                        <ul class="style-none">
                            <li><a href="javascript:void(0)" (click)="scrollToSection('Selling')">1. <span>Selling</span></a></li>
                            <li><a href="javascript:void(0)" (click)="scrollToSection('Renting')">2. <span>Renting</span></a></li>
                            <li><a href="javascript:void(0)" (click)="scrollToSection('Buying')">3. <span>Buying</span></a></li>
                            <li><a href="javascript:void(0)" (click)="scrollToSection('Payments')">4. <span>Payments</span></a></li>
                            <li><a href="javascript:void(0)" (click)="scrollToSection('Terms')">5. <span>Terms & Conditions</span></a></li>
                            <li><a href="javascript:void(0)" (click)="scrollToSection('Account')">6. <span>Account</span></a></li>
                        </ul>
                    </div>
                    <div class="bg-wrapper text-center mt-35">
                        <h4 class="mb-35">Don’t Find Your <br>Answer?</h4>
                        <a routerLink="/contact" class="btn-five">Contact us</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="accordion-style-two no-bg p0 ms-xl-5">
                    <div #Selling class="accordion-title text-uppercase fw-500 md-pt-90" id="Selling">SELLING</div>
                    <div class="accordion p0" id="accordionTwo">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneA" aria-expanded="false" aria-controls="collapseOneA">
                                    How does the free trial work?
                                </button>
                            </h2>
                            <div id="collapseOneA" class="accordion-collapse collapse" data-bs-parent="#accordionTwo">
                                <div class="accordion-body">
                                    <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoA" aria-expanded="false" aria-controls="collapseTwoA">
                                    How do you weigh different criteria in your process?
                                </button>
                            </h2>
                            <div id="collapseTwoA" class="accordion-collapse collapse" data-bs-parent="#accordionTwo">
                                <div class="accordion-body">
                                    <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreeA" aria-expanded="true" aria-controls="collapseThreeA">
                                    What’s the process of selling property?
                                </button>
                            </h2>
                            <div id="collapseThreeA" class="accordion-collapse collapse show" data-bs-parent="#accordionTwo">
                                <div class="accordion-body">
                                    <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourA" aria-expanded="false" aria-controls="collapseFourA">
                                    Refund & Frauds
                                </button>
                            </h2>
                            <div id="collapseFourA" class="accordion-collapse collapse" data-bs-parent="#accordionTwo">
                                <div class="accordion-body">
                                    <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-style-two no-bg p0 ms-xl-5">
                    <div #Renting class="accordion-title text-uppercase fw-500 pt-90" id="Renting">RENTING</div>
                    <div class="accordion p0" id="accordionThree">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneB" aria-expanded="false" aria-controls="collapseOneB">
                                    Can a home depreciate in value?
                                </button>
                            </h2>
                            <div id="collapseOneB" class="accordion-collapse collapse" data-bs-parent="#accordionThree">
                                <div class="accordion-body">
                                    <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoB" aria-expanded="false" aria-controls="collapseTwoB">
                                    Is an older home as good a value as a new home?
                                </button>
                            </h2>
                            <div id="collapseTwoB" class="accordion-collapse collapse" data-bs-parent="#accordionThree">
                                <div class="accordion-body">
                                    <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreeB" aria-expanded="true" aria-controls="collapseThreeB">
                                    What is a broker?
                                </button>
                            </h2>
                            <div id="collapseThreeB" class="accordion-collapse collapse" data-bs-parent="#accordionThree">
                                <div class="accordion-body">
                                    <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourB" aria-expanded="false" aria-controls="collapseFourB">
                                    Can I pay my own taxes and insurance?
                                </button>
                            </h2>
                            <div id="collapseFourB" class="accordion-collapse collapse" data-bs-parent="#accordionThree">
                                <div class="accordion-body">
                                    <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-style-two no-bg p0 ms-xl-5">
                    <div #Buying class="accordion-title text-uppercase fw-500 pt-90" id="Buying">Buying</div>
                    <div class="accordion p0" id="accordionFour">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneC" aria-expanded="false" aria-controls="collapseOneC">
                                    How does the free trial work?
                                </button>
                            </h2>
                            <div id="collapseOneC" class="accordion-collapse collapse" data-bs-parent="#accordionFour">
                                <div class="accordion-body">
                                    <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoC" aria-expanded="false" aria-controls="collapseTwoC">
                                    How do you weigh different criteria in your process?
                                </button>
                            </h2>
                            <div id="collapseTwoC" class="accordion-collapse collapse" data-bs-parent="#accordionFour">
                                <div class="accordion-body">
                                    <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreeC" aria-expanded="true" aria-controls="collapseThreeC">
                                    Refund & Frauds
                                </button>
                            </h2>
                            <div id="collapseThreeC" class="accordion-collapse collapse" data-bs-parent="#accordionFour">
                                <div class="accordion-body">
                                    <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-style-two no-bg p0 ms-xl-5">
                    <div #Payments class="accordion-title text-uppercase fw-500 pt-90" id="Payments">Payments</div>
                    <div class="accordion p0" id="accordionFive">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneD" aria-expanded="false" aria-controls="collapseOneD">
                                    Which payment method is supported?
                                </button>
                            </h2>
                            <div id="collapseOneD" class="accordion-collapse collapse" data-bs-parent="#accordionFive">
                                <div class="accordion-body">
                                    <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoD" aria-expanded="false" aria-controls="collapseTwoD">
                                    Is my card is secure here?
                                </button>
                            </h2>
                            <div id="collapseTwoD" class="accordion-collapse collapse" data-bs-parent="#accordionFive">
                                <div class="accordion-body">
                                    <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreeD" aria-expanded="true" aria-controls="collapseThreeD">
                                    Can I provide cheque to my client for payment?
                                </button>
                            </h2>
                            <div id="collapseThreeD" class="accordion-collapse collapse" data-bs-parent="#accordionFive">
                                <div class="accordion-body">
                                    <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-style-two no-bg p0 ms-xl-5">
                    <div #Terms class="accordion-title text-uppercase fw-500 pt-90" id="Terms">Terms & Conditions</div>
                    <div class="accordion p0" id="accordionSix">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneE" aria-expanded="false" aria-controls="collapseOneE">
                                    How does the free trial work?
                                </button>
                            </h2>
                            <div id="collapseOneE" class="accordion-collapse collapse" data-bs-parent="#accordionSix">
                                <div class="accordion-body">
                                    <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoE" aria-expanded="false" aria-controls="collapseTwoE">
                                    How do you weigh different criteria in your process?
                                </button>
                            </h2>
                            <div id="collapseTwoE" class="accordion-collapse collapse" data-bs-parent="#accordionSix">
                                <div class="accordion-body">
                                    <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-style-two no-bg p0 ms-xl-5">
                    <div #Account class="accordion-title text-uppercase fw-500 pt-90" id="Account">Account</div>
                    <div class="accordion p0" id="accordionSeven">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneF" aria-expanded="false" aria-controls="collapseOneF">
                                    Can a home depreciate in value?
                                </button>
                            </h2>
                            <div id="collapseOneF" class="accordion-collapse collapse" data-bs-parent="#accordionSeven">
                                <div class="accordion-body">
                                    <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoF" aria-expanded="false" aria-controls="collapseTwoF">
                                    Is an older home as good a value as a new home?
                                </button>
                            </h2>
                            <div id="collapseTwoF" class="accordion-collapse collapse" data-bs-parent="#accordionSeven">
                                <div class="accordion-body">
                                    <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-fancy-banner-two></app-fancy-banner-two>
<app-footer-5></app-footer-5>