<app-navbar-7></app-navbar-7>
<div class="property-listing-eight pt-150 xl-pt-120">
    <div class="search-wrapper-three layout-two position-relative">
        <div class="bg-wrapper rounded-0 border-0">
            <form action="javascript:void(0);">
                <div class="row gx-0 align-items-center">
                    <div class="col-xxl-2 col-xl-3 col-sm-6">
                        <div class="input-box-one border-left">
                            <div class="label">I’m looking to...</div>
                            <ng-select [items]="options" bindLabel="label" bindValue="value" [placeholder]="'Buy Apartments'">
                                <ng-option *ngFor="let option of options" [value]="option.value">{{ option.label }}</ng-option>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6">
                        <div class="input-box-one border-left">
                            <div class="label">Location</div>
                            <ng-select class="" [items]="locations" bindLabel="label" bindValue="value" [placeholder]="'Dhanmondi, Dhaka'">
                                <ng-option *ngFor="let location of locations" [value]="location.value">{{ location.label }}</ng-option>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-4">
                        <div class="input-box-one border-left">
                            <div class="label">Price Range</div>
                            <ng-select [items]="priceRanges" bindLabel="label" bindValue="value" [placeholder]="'$10,000 - $200,000'">
                                <ng-option *ngFor="let range of priceRanges" [value]="range.value">{{ range.label }}</ng-option>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-xl-1 col-sm-4 col-6">
                        <div class="input-box-one border-left">
                            <div class="label">Bedroom</div>
                            <ng-select class="" [items]="bed" bindLabel="label" bindValue="value" [placeholder]="'any'">
                                <ng-option *ngFor="let location of bed" [value]="location.value">{{ location.label }}</ng-option>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-xl-1 col-sm-4 col-6">
                        <div class="input-box-one border-left">
                            <div class="label">Bath</div>
                            <ng-select class="" [items]="bath" bindLabel="label" bindValue="value" [placeholder]="'any'">
                                <ng-option *ngFor="let location of bath" [value]="location.value">{{ location.label }}</ng-option>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-xxl-2 col-xl-1">
                        <div class="input-box-one lg-mt-20">
                            <div class="d-flex align-items-center justify-content-center justify-content-xl-end">
                                <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#advanceFilterModal" class="search-modal-btn tran3s text-uppercase fw-500 d-inline-flex align-items-center">
                                    <span class="me-3 d-xl-none d-xxl-block">ADVANCE Search</span>
                                    <i class="fa-light fa-sliders-up"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="listing-type-filter border-0">
        <div class="wrapper">
            <ul class="style-none d-flex flex-wrap align-items-center justify-content-center justify-content-xxl-between">
                <li>Select Type:</li>
                <li *ngFor="let type of propertyTypes">
                    <a href="javascript:void(0);" [class.active]="type === 'All'">{{ type }}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row gx-0">
        <div class="col-xxl-6 col-lg-5">
            <div id="google-map-area" class="h-100">
                <google-map [latitude]="latitude" [longitude]="longitude" [options]="mapOptions" [zoom]="15" width="100%" height="1195px">
                    <map-marker *ngFor="let marker of markers" [position]="marker.position"></map-marker>
                </google-map>
            </div>
        </div>
        <div class="col-xxl-6 col-lg-7">
            <div class="bg-light pl-40 pr-40 pt-35 pb-60">
                <div class="listing-header-filter d-sm-flex justify-content-between align-items-center mb-40 lg-mb-30">
                    <div>Showing <span class="color-dark fw-500">1–4</span> of <span class="color-dark fw-500">1,230</span> results</div>
                    <div class="d-flex align-items-center xs-mt-20">
                        <div class="short-filter d-flex align-items-center">
                            <div class="fs-16 me-2">Short by:</div>
                            <ng-select [items]="short" bindLabel="label" bindValue="value" [placeholder]="'Newest'">
                                <ng-option *ngFor="let range of short" [value]="range.value">{{ range.label }}</ng-option>
                            </ng-select>
                        </div>
                        <a routerLink="/listing_15" class="tran3s layout-change rounded-circle ms-auto ms-sm-3" data-bs-toggle="tooltip" title="Switch To List View"><i class="fa-regular fa-bars"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 d-flex mb-40 fadeInUp" data-aos="fade-up" *ngFor="let property of properties; let i = index" [attr.data-aos-delay]="property.delay">
                        <div class="listing-card-one style-three border-30 w-100 h-100">
                            <div class="img-gallery p-15">
                                <div class="position-relative border-20 overflow-hidden">
                                    <div class="tag bg-white text-dark fw-500 border-20">{{ property.tag }}</div>
                                    <img [src]="property.image" class="w-100 border-20" alt="...">
                                    <a [routerLink]="property.routerLink" class="btn-four inverse rounded-circle position-absolute">
                                        <i class="bi bi-arrow-up-right"></i>
                                    </a>
                                    <div class="img-slider-btn">
                                        {{ property.sliderImages.length }} <i class="fa-regular fa-image"></i>
                                        <a *ngFor="let img of property.sliderImages" [href]="img.src" class="d-block" data-fancybox="img" [attr.data-caption]="img.caption"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="property-info pe-4 ps-4">
                                <a [routerLink]="property.routerLink" class="title tran3s">{{ property.title }}</a>
                                <div class="address">{{ property.address }}</div>
                                <div class="pl-footer m0 d-flex align-items-center justify-content-between">
                                    <strong class="price fw-500 color-dark">{{ property.price }}</strong>
                                    <ul class="style-none d-flex action-icons">
                                        <li><a href="javascript:void(0);"><i class="fa-light fa-heart"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fa-light fa-bookmark"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fa-light fa-circle-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-5">
                    <ul class="pagination-two d-inline-flex align-items-center justify-content-center style-none">
                        <li><a href="javascript:void(0);"><i class="fa-regular fa-chevron-left"></i></a></li>
                        <li class="active"><a href="javascript:void(0);">1</a></li>
                        <li><a href="javascript:void(0);">2</a></li>
                        <li><a href="javascript:void(0);">3</a></li>
                        <li><span>...</span></li>
                        <li><a href="javascript:void(0);">13</a></li>
                        <li><a href="javascript:void(0);"><i class="fa-regular fa-chevron-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer-5></app-footer-5>
<app-advance-filter-modal></app-advance-filter-modal>