<app-navbar-6></app-navbar-6>
<div class="listing-details-one theme-details-one mt-130 lg-mt-100 pb-150 xl-pb-120">
    <div class="media-gallery-grid mb-50">
        <div class="row">
            <div class="col-md-7 d-flex">
                <div class="position-relative h-100 w-100 sm-pb-20">
                    <a href="assets/images/listing/img_61.jpg" class="media-bg h-100" data-fancybox style="background-image: url(assets/images/listing/img_61.jpg);"></a>
                    <div class="img-fancy-btn fw-500 fs-16 color-dark">
                        Sell all 37 Photos
                        <a href="assets/images/listing/img_large_01.jpg" class="d-block" data-fancybox="mainImg" data-caption="Duplex orkit villa."></a>
                        <a href="assets/images/listing/img_large_02.jpg" class="d-block" data-fancybox="mainImg" data-caption="Duplex orkit villa."></a>
                        <a href="assets/images/listing/img_large_03.jpg" class="d-block" data-fancybox="mainImg" data-caption="Duplex orkit villa."></a>
                    </div>
                </div>
            </div>
            <div class="col-md-5 d-flex">
                <div class="w-100 h-100">
                    <div class="row">
                        <div class="col-6 mb-25 md-mb-20">
                            <a href="assets/images/listing/img_62.jpg" class="media-bg sm" data-fancybox style="background-image: url(assets/images/listing/img_62.jpg);"></a>
                        </div>
                        <div class="col-6 mb-25 md-mb-20">
                            <a href="assets/images/listing/img_63.jpg" class="media-bg sm" data-fancybox style="background-image: url(assets/images/listing/img_63.jpg);"></a>
                        </div>
                        <div class="col-6">
                            <a href="assets/images/listing/img_64.jpg" class="media-bg sm" data-fancybox style="background-image: url(assets/images/listing/img_64.jpg);"></a>
                        </div>
                        <div class="col-6">
                            <a href="assets/images/listing/img_65.jpg" class="media-bg sm" data-fancybox style="background-image: url(assets/images/listing/img_65.jpg);"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3 class="property-titlee">Luxury Apartments on California.</h3>
                <div class="d-flex flex-wrap mt-10">
                    <div class="list-type bg-white text-dark fw-500 text-uppercase mt-15 me-3">FOR SELL</div>
                    <div class="address mt-15"><i class="bi bi-geo-alt"></i> 3891 Ranchview Dr. Richardson, California</div>
                </div>
            </div>
            <div class="col-lg-6 text-lg-end">
                <div class="d-inline-block md-mt-40">
                    <div class="price color-dark fw-500">Price: $1,67,000</div>
                    <div class="est-price fs-20 mt-25 mb-35 md-mb-30">Est. Payment <span class="fw-500 color-dark">$8,343/mo*</span></div>
                    <ul class="style-none d-flex align-items-center action-btns">
                        <li class="me-auto fw-500 color-dark"><i class="fa-sharp fa-regular fa-share-nodes me-2"></i> Share</li>
                        <li><a href="javascript:void(0);" class="d-flex align-items-center justify-content-center tran3s"><i class="fa-light fa-heart"></i></a></li>
                        <li><a href="javascript:void(0);" class="d-flex align-items-center justify-content-center tran3s"><i class="fa-light fa-bookmark"></i></a></li>
                        <li><a href="javascript:void(0);" class="d-flex align-items-center justify-content-center tran3s"><i class="fa-light fa-circle-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="property-feature-list position-relative z-2 mt-65 mb-75">
            <div class="dark-bg ps-3 ps-md-5 pe-3 pt-30 pb-30">
                <ul class="style-none d-flex flex-wrap align-items-center justify-content-between">
                    <li>
                        <img src="assets/images/icon/icon_62.svg" alt="" class="lazy-img icon">
                        <span class="fs-20 text-white">Sqft . 3,720</span>
                    </li>
                    <li>
                        <img src="assets/images/icon/icon_63.svg" alt="" class="lazy-img icon">
                        <span class="fs-20 text-white">Bed . 03</span>
                    </li>
                    <li>
                        <img src="assets/images/icon/icon_64.svg" alt="" class="lazy-img icon">
                        <span class="fs-20 text-white">Bath . 2</span>
                    </li>
                    <li>
                        <img src="assets/images/icon/icon_65.svg" alt="" class="lazy-img icon">
                        <span class="fs-20 text-white">Kitchen . 01</span>
                    </li>
                    <li>
                        <img src="assets/images/icon/icon_66.svg" alt="" class="lazy-img icon">
                        <span class="fs-20 text-white">Type . Apartment</span>
                    </li>
                </ul>
            </div>

        </div>

        <div class="row">
            <div class="col-xl-8">
                <div class="accordion-style-two full-accordion">
                    <div class="accordion" id="accordionTwo">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneA" aria-expanded="false" aria-controls="collapseOneA">
                                    Overview
                                </button>
                            </h2>
                            <div id="collapseOneA" class="accordion-collapse collapse show">
                                <div class="accordion-body">
                                    <p class="fs-20 lh-lg m0">Risk management and compliance, when approached strategically, have the potential to go beyond mitigating threats and protecting a company’s operations &amp; reputation.They can actually generate value and create opportunities. </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoA" aria-expanded="false" aria-controls="collapseTwoA">
                                    Property Features
                                </button>
                            </h2>
                            <div id="collapseTwoA" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <p class="fs-20 lh-lg">Risk management and compliance, when approached strategically, have the potential to go beyond mitigating threats.</p>
                                    <h5 class="pt-30 pb-25">Property Details</h5>
                                    <div class="feature-list-two">
                                        <ul class="style-none d-flex flex-wrap justify-content-between">
                                            <li><span>Bedrooms: </span> <span class="fw-500 color-dark">03</span></li>
                                            <li><span>Furnishing: </span> <span class="fw-500 color-dark">Semi furnished</span></li>
                                            <li><span>Bathrooms: </span> <span class="fw-500 color-dark">02</span></li>
                                            <li><span>Year Built: </span> <span class="fw-500 color-dark">2010</span></li>
                                            <li><span>Floor: </span> <span class="fw-500 color-dark">Ground</span></li>
                                            <li><span>Garage: </span> <span class="fw-500 color-dark">03</span></li>
                                            <li><span>Ceiling Height: </span> <span class="fw-500 color-dark">3.2m</span></li>
                                            <li><span>Property Type: </span> <span class="fw-500 color-dark">Apartment</span></li>
                                            <li><span>Renovation: </span> <span class="fw-500 color-dark">3.2m</span></li>
                                            <li><span>Status: </span> <span class="fw-500 color-dark">For Sale</span></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreeA" aria-expanded="true" aria-controls="collapseThreeA">
                                    Amenities
                                </button>
                            </h2>
                            <div id="collapseThreeA" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <p class="fs-20 lh-lg pb-25">Risk management & compliance, when approached strategically, have the potential</p>
                                    <ul class="style-none d-flex flex-wrap justify-content-between list-style-two">
                                        <li *ngFor="let amenity of amenities">{{ amenity }}</li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourA" aria-expanded="true" aria-controls="collapseFourA">
                                    Video Tour
                                </button>
                            </h2>
                            <div id="collapseFourA" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <div class="property-video-tour">
                                        <div class="position-relative image-bg overflow-hidden z-1">
                                            <img src="assets/images/listing/img_47.jpg" alt="" class="lazy-img w-100">
                                            <a class="video-icon tran3s rounded-circle d-flex align-items-center justify-content-center" data-fancybox href="https://www.youtube.com/embed/aXFSJTjVjw0">
                                                <i class="fa-thin fa-play"></i>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFiveA" aria-expanded="true" aria-controls="collapseFiveA">
                                    Floor Plans
                                </button>
                            </h2>
                            <div id="collapseFiveA" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <div class="property-floor-plan">
                                        <div class="wrapper">
                                            <div id="floor-plan" class="carousel slide">
                                                <div class="carousel-inner">
                                                    <div class="carousel-item" *ngFor="let image of images; let i = index" [class.active]="i === 0">
                                                        <img [src]="image.src" [alt]="image.alt" class="w-100">
                                                    </div>
                                                </div>
                                                <div class="carousel-indicators position-static pt-25">
                                                    <button type="button" data-bs-target="#floor-plan" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                                    <button type="button" data-bs-target="#floor-plan" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                                    <button type="button" data-bs-target="#floor-plan" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSixA" aria-expanded="true" aria-controls="collapseSixA">
                                    What’s Nearby
                                </button>
                            </h2>
                            <div id="collapseSixA" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <div class="property-nearby">
                                        <p class="fs-20 lh-lg pb-30">Risk management and compliance, when approached strategically, have th potential to go beyond mitigating threats.</p>
                                        <ul class="style-none d-flex flex-wrap justify-content-between nearby-list-item">
                                            <li *ngFor="let place of nearbyPlaces">
                                                {{ place.name }}: <span class="fw-500 color-dark">{{ place.distance }}</span>
                                            </li>
                                        </ul>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSevenA" aria-expanded="true" aria-controls="collapseSevenA">
                                    Similar Homes You May Like
                                </button>
                            </h2>
                            <div id="collapseSevenA" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <div class="similar-property">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="listing-card-one style-three border border-30 sm-mb-40">
                                                    <div class="img-gallery p-15">
                                                        <div class="position-relative border-20 overflow-hidden">
                                                            <div class="tag bg-white text-dark fw-500 border-20">FOR RENT</div>
                                                            <img src="assets/images/listing/img_13.jpg" class="w-100 border-20" alt="...">
                                                            <a routerLink="/listing_details_04" class="btn-four inverse rounded-circle position-absolute"><i class="bi bi-arrow-up-right"></i></a>
                                                            <div class="img-slider-btn">
                                                                03 <i class="fa-regular fa-image"></i>
                                                                <a href="assets/images/listing/img_large_01.jpg" class="d-block" data-fancybox="img1" data-caption="Blueberry villa"></a>
                                                                <a href="assets/images/listing/img_large_02.jpg" class="d-block" data-fancybox="img1" data-caption="Blueberry villa"></a>
                                                                <a href="assets/images/listing/img_large_03.jpg" class="d-block" data-fancybox="img1" data-caption="Blueberry villa"></a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="property-info pe-4 ps-4">
                                                        <a routerLink="/listing_details_04" class="title tran3s">Blueberry villa.</a>
                                                        <div class="address m0 pb-5">Mirpur 10, Stadium dhaka</div>
                                                        <div class="pl-footer m0 d-flex align-items-center justify-content-between">
                                                            <strong class="price fw-500 color-dark">$34,900</strong>
                                                            <ul class="style-none d-flex action-icons">
                                                                <li><a href="javascript:void(0);"><i class="fa-light fa-heart"></i></a></li>
                                                                <li><a href="javascript:void(0);"><i class="fa-light fa-bookmark"></i></a></li>
                                                                <li><a href="javascript:void(0);"><i class="fa-light fa-circle-plus"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="col-md-6">
                                                <div class="listing-card-one style-three border border-30">
                                                    <div class="img-gallery p-15">
                                                        <div class="position-relative border-20 overflow-hidden">
                                                            <div class="tag bg-white text-dark fw-500 border-20">FOR SELL</div>
                                                            <img src="assets/images/listing/img_14.jpg" class="w-100 border-20" alt="...">
                                                            <a routerLink="/listing_details_04" class="btn-four inverse rounded-circle position-absolute"><i class="bi bi-arrow-up-right"></i></a>
                                                            <div class="img-slider-btn">
                                                                03 <i class="fa-regular fa-image"></i>
                                                                <a href="assets/images/listing/img_large_04.jpg" class="d-block" data-fancybox="img2" data-caption="White House villa"></a>
                                                                <a href="assets/images/listing/img_large_05.jpg" class="d-block" data-fancybox="img2" data-caption="White House villa"></a>
                                                                <a href="assets/images/listing/img_large_06.jpg" class="d-block" data-fancybox="img2" data-caption="White House villa"></a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="property-info pe-4 ps-4">
                                                        <a routerLink="/listing_details_04" class="title tran3s">Blueberry villa.</a>
                                                        <div class="address m0 pb-5">California link road, ca, usa</div>
                                                        <div class="pl-footer m0 d-flex align-items-center justify-content-between">
                                                            <strong class="price fw-500 color-dark">$28,100</strong>
                                                            <ul class="style-none d-flex action-icons">
                                                                <li><a href="javascript:void(0);"><i class="fa-light fa-heart"></i></a></li>
                                                                <li><a href="javascript:void(0);"><i class="fa-light fa-bookmark"></i></a></li>
                                                                <li><a href="javascript:void(0);"><i class="fa-light fa-circle-plus"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEightA" aria-expanded="true" aria-controls="collapseEightA">
                                    Walk Score
                                </button>
                            </h2>
                            <div id="collapseEightA" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <div class="property-score">
                                        <p class="fs-20 lh-lg pb-30">Risk management and compliance, when approached strategically, have the potential</p>
                                        <div class="row">
                                            <div class="col-md-6" *ngFor="let score of scores">
                                                <div class="block d-flex align-items-center mb-50 sm-mb-30">
                                                    <img [src]="score.icon" alt="" class="lazy-img icon">
                                                    <div class="text">
                                                        <h6>{{ score.label }}</h6>
                                                        <p class="fs-16 m0">
                                                            <span class="color-dark">{{ score.value }}</span>/100
                                                            ({{ score.description }})
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNineA" aria-expanded="true" aria-controls="collapseNineA">
                                    Mortgage Calculator
                                </button>
                            </h2>
                            <div id="collapseNineA" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <div class="mortgage-calculator">
                                        <form action="javascript:void(0);">
                                            <div class="input-box-three mb-25">
                                                <div class="label">Home Price*</div>
                                                <input type="tel" placeholder="1,32,789" class="type-input rounded-0">
                                            </div>

                                            <div class="input-box-three mb-25">
                                                <div class="label">Down Payment*</div>
                                                <input type="tel" placeholder="$" class="type-input rounded-0">
                                            </div>

                                            <div class="input-box-three mb-25">
                                                <div class="label">Interest Rate*</div>
                                                <input type="tel" placeholder="3.5%" class="type-input rounded-0">
                                            </div>

                                            <div class="input-box-three mb-25">
                                                <div class="label">Loan Terms (Years)</div>
                                                <input type="tel" placeholder="24" class="type-input rounded-0">
                                            </div>

                                            <button class="btn-five text-uppercase sm rounded-0 w-100 mb-10">CALCULATE</button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTenA" aria-expanded="true" aria-controls="collapseTenA">
                                    Location
                                </button>
                            </h2>
                            <div id="collapseTenA" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <div class="property-location">
                                        <div class="wrapper">
                                            <div class="map-banner">
                                                <div class="gmap_canvas h-100 w-100">
                                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d83088.3595592641!2d-105.54557276330914!3d39.29302101722867!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874014749b1856b7%3A0xc75483314990a7ff!2sColorado%2C%20USA!5e0!3m2!1sen!2sbd!4v1699764452737!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-100 h-100"></iframe>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseElevenA" aria-expanded="true" aria-controls="collapseElevenA">
                                    Review about Glenridge
                                </button>
                            </h2>
                            <div id="collapseElevenA" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <div class="review-panel-one">
                                        <div class="position-relative z-1">
                                            <div class="d-flex justify-content-sm-end">
                                                <select class="nice-select rounded-0">
                                                    <option value="0">Newest</option>
                                                    <option value="1">Best Seller</option>
                                                    <option value="2">Best Match</option>
                                                </select>
                                            </div>
                                            <div class="review-wrapper mb-35">
                                                <div class="review">
                                                    <img src="assets/images/media/img_01.jpg" alt="" class="rounded-circle avatar">
                                                    <div class="text">
                                                        <div class="d-sm-flex justify-content-between">
                                                            <div>
                                                                <h6 class="name">Zubayer Al Hasan</h6>
                                                                <div class="time fs-16">17 Aug, 23</div>
                                                            </div>
                                                            <ul class="rating style-none d-flex xs-mt-10">
                                                                <li><span class="fst-italic me-2">(4.7 Rating)</span> </li>
                                                                <li><i class="fa-sharp fa-solid fa-star"></i></li>
                                                                <li><i class="fa-sharp fa-solid fa-star"></i></li>
                                                                <li><i class="fa-sharp fa-solid fa-star"></i></li>
                                                                <li><i class="fa-sharp fa-solid fa-star"></i></li>
                                                                <li><i class="fa-sharp fa-solid fa-star"></i></li>
                                                            </ul>
                                                        </div>
                                                        <p class="fs-20 mt-20 mb-30">Lorem ipsum dolor sit amet consectetur. Pellentesque sed nulla facili diam posuere aliquam suscipit quam.</p>
                                                        <div class="d-flex review-help-btn">
                                                            <a href="javascript:void(0);" class="me-5"><i class="fa-sharp fa-regular fa-thumbs-up"></i> <span>Helpful</span></a>
                                                            <a href="javascript:void(0);"><i class="fa-sharp fa-regular fa-flag-swallowtail"></i> <span>Flag</span></a>
                                                        </div>
                                                    </div>

                                                </div>


                                                <div class="review">
                                                    <img src="assets/images/media/img_03.jpg" alt="" class="rounded-circle avatar">
                                                    <div class="text">
                                                        <div class="d-sm-flex justify-content-between">
                                                            <div>
                                                                <h6 class="name">Rashed Kabir</h6>
                                                                <div class="time fs-16">13 Jun, 23</div>
                                                            </div>
                                                            <ul class="rating style-none d-flex xs-mt-10">
                                                                <li><span class="fst-italic me-2">(4.9 Rating)</span> </li>
                                                                <li><i class="fa-sharp fa-solid fa-star"></i></li>
                                                                <li><i class="fa-sharp fa-solid fa-star"></i></li>
                                                                <li><i class="fa-sharp fa-solid fa-star"></i></li>
                                                                <li><i class="fa-sharp fa-solid fa-star"></i></li>
                                                                <li><i class="fa-sharp fa-solid fa-star"></i></li>
                                                            </ul>
                                                        </div>
                                                        <p class="fs-20 mt-20 mb-30">Lorem ipsum dolor sit amet consectetur. Pellentesque sed nulla facili diam posuere aliquam suscipit quam.</p>
                                                        <ul class="style-none d-flex flex-wrap review-gallery pb-30">
                                                            <li><a href="assets/images/listing/img_large_01.jpg" class="d-block" data-fancybox="revImg" data-caption="Duplex orkit villa"><img src="assets/images/listing/img_48.jpg" alt=""></a></li>
                                                            <li><a href="assets/images/listing/img_large_02.jpg" class="d-block" data-fancybox="revImg" data-caption="Duplex orkit villa"><img src="assets/images/listing/img_49.jpg" alt=""></a></li>
                                                            <li><a href="assets/images/listing/img_large_03.jpg" class="d-block" data-fancybox="revImg" data-caption="Duplex orkit villa"><img src="assets/images/listing/img_50.jpg" alt=""></a></li>
                                                            <li>
                                                                <div class="position-relative more-img">
                                                                    <img src="assets/images/listing/img_50.jpg" alt="">
                                                                    <span>13+</span>
                                                                    <a href="assets/images/listing/img_large_04.jpg" class="d-block" data-fancybox="revImg" data-caption="Duplex orkit villa."></a>
                                                                    <a href="assets/images/listing/img_large_05.jpg" class="d-block" data-fancybox="revImg" data-caption="Duplex orkit villa."></a>
                                                                    <a href="assets/images/listing/img_large_06.jpg" class="d-block" data-fancybox="revImg" data-caption="Duplex orkit villa."></a>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <div class="d-flex review-help-btn">
                                                            <a href="javascript:void(0);" class="me-5"><i class="fa-sharp fa-regular fa-thumbs-up"></i> <span>Helpful</span></a>
                                                            <a href="javascript:void(0);"><i class="fa-sharp fa-regular fa-flag-swallowtail"></i> <span>Flag</span></a>
                                                        </div>

                                                    </div>

                                                </div>


                                                <div class="review hide">
                                                    <img src="assets/images/media/img_02.jpg" alt="" class="rounded-circle avatar">
                                                    <div class="text">
                                                        <div class="d-sm-flex justify-content-between">
                                                            <div>
                                                                <h6 class="name">Perty Jinta</h6>
                                                                <div class="time fs-16">17 Aug, 23</div>
                                                            </div>
                                                            <ul class="rating style-none d-flex xs-mt-10">
                                                                <li><span class="fst-italic me-2">(4.7 Rating)</span> </li>
                                                                <li><i class="fa-sharp fa-solid fa-star"></i></li>
                                                                <li><i class="fa-sharp fa-solid fa-star"></i></li>
                                                                <li><i class="fa-sharp fa-solid fa-star"></i></li>
                                                                <li><i class="fa-sharp fa-solid fa-star"></i></li>
                                                                <li><i class="fa-sharp fa-solid fa-star"></i></li>
                                                            </ul>
                                                        </div>
                                                        <p class="fs-20 mt-20 mb-30">Lorem ipsum dolor sit amet consectetur. Pellentesque sed nulla facili diam posuere aliquam suscipit quam.</p>
                                                        <div class="d-flex review-help-btn">
                                                            <a href="javascript:void(0);" class="me-5"><i class="fa-sharp fa-regular fa-thumbs-up"></i> <span>Helpful</span></a>
                                                            <a href="javascript:void(0);"><i class="fa-sharp fa-regular fa-flag-swallowtail"></i> <span>Flag</span></a>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>

                                            <div class="load-more-review text-uppercase fw-500 w-100 inverse rounded-0 tran3s">VIEW ALL 120 REVIEWS <i class="bi bi-arrow-up-right"></i></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelveA" aria-expanded="true" aria-controls="collapseTwelveA">
                                    Leave A Reply
                                </button>
                            </h2>
                            <div id="collapseTwelveA" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <div class="review-form">
                                        <p class="fs-20 lh-lg pb-15"><a href="javascript:void(0);" (click)="openModal()" class="color-dark fw-500 text-decoration-underline">Sign in</a> to post your comment or signup if you don't have any account.</p>

                                        <form action="javascript:void(0);">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="input-box-two mb-30">
                                                        <div class="label">Title*</div>
                                                        <input type="text" placeholder="Rashed Kabir" class="type-input rounded-0">
                                                    </div>

                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="input-box-two mb-30">
                                                        <div class="label">Email*</div>
                                                        <input type="email" placeholder="rshdkabir@gmail.com" class="type-input rounded-0">
                                                    </div>

                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="input-box-two mb-30">
                                                        <div class="label">Ratings*</div>
                                                        <select class="nice-select rounded-0">
                                                            <option value="0">Ratings</option>
                                                            <option value="1">Five Star</option>
                                                            <option value="1">Four Star</option>
                                                            <option value="1">Three Star</option>
                                                            <option value="1">Two Star</option>
                                                            <option value="1">One Star</option>
                                                        </select>
                                                    </div>

                                                </div>
                                                <div class="col-12">
                                                    <div class="input-box-two mb-30">
                                                        <textarea placeholder="Write your review here..." class="rounded-0"></textarea>
                                                    </div>

                                                </div>
                                            </div>
                                            <button class="btn-five text-uppercase rounded-0 sm">Post Review</button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-8 me-auto ms-auto">
                <div class="theme-sidebar-one dot-bg p-30 ms-xxl-3 lg-mt-80">
                    <div class="agent-info bg-white p-30 mb-40">
                        <img src="assets/images/agent/img_06.jpg" alt="" class="lazy-img rounded-circle ms-auto me-auto mt-3 avatar">
                        <div class="text-center mt-25">
                            <h6 class="name">Rashed Kabir</h6>
                            <p class="fs-16">Property Agent & Broker</p>
                            <ul class="style-none d-flex align-items-center justify-content-center social-icon">
                                <li><a href="javascript:void(0);"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="javascript:void(0);"><i class="fa-brands fa-twitter"></i></a></li>
                                <li><a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="javascript:void(0);"><i class="fa-brands fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="divider-line mt-40 mb-45 pt-20">
                            <ul class="style-none">
                                <li>Location: <span>Spain, Barcelona</span></li>
                                <li>Email: <span><a href="mailto:akabirr770@gmail.com">akabirr770&#64;gmail.com</a></span></li>
                                <li>Phone: <span><a href="tel:+12347687565">+12347687565</a></span></li>
                            </ul>
                        </div>

                        <a routerLink="/contact" class="btn-nine text-uppercase w-100 mb-10">CONTACT AGENT</a>
                    </div>


                    <div class="tour-schedule bg-white p-30">
                        <h5 class="mb-40">Schedule Tour</h5>
                        <form action="javascript:void(0);">
                            <div class="input-box-three mb-25">
                                <div class="label">Your Name*</div>
                                <input type="text" placeholder="Your full name" class="type-input rounded-0">
                            </div>

                            <div class="input-box-three mb-25">
                                <div class="label">Your Email*</div>
                                <input type="email" placeholder="Enter mail address" class="type-input rounded-0">
                            </div>

                            <div class="input-box-three mb-25">
                                <div class="label">Your Phone*</div>
                                <input type="tel" placeholder="Your phone number" class="type-input rounded-0">
                            </div>

                            <div class="input-box-three mb-15">
                                <div class="label">Message*</div>
                                <textarea placeholder="Hello, I am interested in [Califronia Apartments]" class="rounded-0"></textarea>
                            </div>

                            <button class="btn-nine text-uppercase w-100 mb-10">INQUIry</button>
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<app-fancy-banner-two></app-fancy-banner-two>
<app-footer-5></app-footer-5>