<app-navbar-6></app-navbar-6>
<div class="inner-banner-two inner-banner z-1 pt-160 lg-pt-130 pb-160 xl-pb-120 md-pb-80 position-relative" style="background-image: url(assets/images/media/img_49.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3 class="mb-35 xl-mb-20 pt-15">Single Projects</h3>
                <ul class="theme-breadcrumb style-none d-inline-flex align-items-center justify-content-center position-relative z-1 bottom-line">
                    <li><a routerLink="/">Home</a></li>
                    <li>/</li>
                    <li><a routerLink="/pricing_01">Project</a></li>
                    <li>/</li>
                    <li>Vintage City</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <p class="sub-heading">Over 745,000 listings, apartments, lots and plots available now!</p>
            </div>
        </div>
    </div>
</div>
<div class="project-details-one mt-150 xl-mt-100 mb-170 xl-mb-100">
    <div class="container">
        <div class="row gx-xxl-5">
            <div class="col-lg-6 order-lg-first">
                <figure class="image-wrapper">
                    <img src="assets/images/project/img_27.jpg" alt="" class="lazy-img w-100">
                </figure>
                <figure class="image-wrapper">
                    <img src="assets/images/project/img_29.jpg" alt="" class="lazy-img w-100">
                </figure>
                <figure class="image-wrapper">
                    <img src="assets/images/project/img_30.jpg" alt="" class="lazy-img w-100">
                </figure>
            </div>
            <div class="col-lg-6">
                <div class="details-text ps-xxl-5 md-mt-40">
                    <div class="tag fw-500 text-uppercase">Apartments</div>
                    <h3>Apartments on Vintage City.</h3>
                    <p class="fs-24 pt-45 xl-pt-30 pb-45 xl-pb-30">Your leading real estate advocate, transforming houses into dreams. Trust </p>
                    <h4 class="mb-40">Project Details</h4>
                    <div class="project-info-outline">
                        <div class="main-bg">
                            <ul class="style-none">
                                <li class="position-relative z-1" *ngFor="let detail of projectDetails">
                                    <div class="num fw-light">{{ detail.num }}</div>
                                    <img [src]="detail.icon" alt="" class="lazy-img icon">
                                    <strong>{{ detail.label }}</strong>
                                    <span>{{ detail.value }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <p class="fs-20 pt-50 pb-35">Your leading real estate advocate, transforming houses into dreams. Trust us to expertly guide you home. 745,000 apartments & home for sell, rent & mortgage.</p>
                    <ul class="style-none d-flex align-items-center social-icon">
                        <li>Share :</li>
                        <li><a href="javascript:void(0);"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="javascript:void(0);"><i class="bi bi-twitter-x"></i></a></li>
                        <li><a href="javascript:void(0);"><i class="bi bi-instagram"></i></a></li>
                    </ul>

                    <div class="page-pagination mt-45 pt-50">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center page-title position-relative">
                                <img src="assets/images/project/img_28.jpg" alt="" class="lazy-img img">
                                <div class="ps-4">
                                    <span>Next PROJECT</span>
                                    <h5 class="m0">1,320 sqft Modern Flat</h5>
                                </div>
                            </div>
                            <a href="javascript:void(0);" class="btn-four rounded-circle inverse"><i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-fancy-banner-two></app-fancy-banner-two>
<app-footer-5></app-footer-5>