<app-navbar-6></app-navbar-6>
<div class="inner-banner-two inner-banner z-1 pt-160 lg-pt-130 pb-160 xl-pb-120 md-pb-80 position-relative" style="background-image: url(assets/images/media/img_49.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3 class="mb-35 xl-mb-20 pt-15">Pricing Plan</h3>
                <ul class="theme-breadcrumb style-none d-inline-flex align-items-center justify-content-center position-relative z-1 bottom-line">
                    <li><a routerLink="/">Home</a></li>
                    <li>/</li>
                    <li><a href="javascript:void(0);">Pages</a></li>
                    <li>/</li>
                    <li>Pricing</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <p class="sub-heading">Over 745,000 listings, apartments, lots and plots available now!</p>
            </div>
        </div>
    </div>
</div>
<div class="pricing-section-two mt-150 xl-mt-100 mb-170 xl-mb-100">
    <div class="container">
        <div class="row">
            <div class="col-xxl-6 col-xl-5">
                <div class="title-one">
                    <h3>No hidden charge, get your plan.</h3>
                </div>

            </div>
            <div class="col-xl-5 ms-auto">
                <p class="fs-24 pt-20">Try Free plan features for 14 days · No credit card required for exploration.</p>
            </div>
        </div>
        <div class="row gx-xxl-5 pt-40 lg-pt-10">
            <div class="col-lg-4">
                <div class="pr-column-wrapper active mt-30">
                    <div class="pr-header text-center mb-55">
                        <div class="plan fw-500 text-uppercase color-dark">FREE PLAN</div>
                        <strong class="price fw-500">0</strong>
                        <p class="fs-24">per user/month</p>
                    </div>

                    <ul class="style-none text-center">
                        <li>60-day chat history</li>
                        <li>Basic widget customization</li>
                        <li class="disable">Ticketing system</li>
                        <li class="disable">Data security</li>
                    </ul>
                    <div class="pr-footer text-center mt-60">
                        <a href="javascript:void(0);" class="btn-twelve w-100 rounded-0 sm">Subscribe Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pr-column-wrapper mt-30">
                    <div class="pr-header text-center mb-55">
                        <div class="plan fw-500 text-uppercase color-dark">Standard</div>
                        <strong class="price fw-500">$12</strong>
                        <p class="fs-24">per user/month</p>
                    </div>

                    <ul class="style-none text-center">
                        <li>60-day chat history</li>
                        <li>Basic widget customization</li>
                        <li>Ticketing system</li>
                        <li class="disable">Data security</li>
                    </ul>
                    <div class="pr-footer text-center mt-60">
                        <a href="javascript:void(0);" class="btn-twelve w-100 rounded-0 sm">Subscribe Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pr-column-wrapper mt-30">
                    <div class="pr-header text-center mb-55">
                        <div class="plan fw-500 text-uppercase color-dark">BUSINESS</div>
                        <strong class="price fw-500">$39</strong>
                        <p class="fs-24">per user/month</p>
                    </div>

                    <ul class="style-none text-center">
                        <li>60-day chat history</li>
                        <li>Basic widget customization</li>
                        <li>Ticketing system</li>
                        <li>Data security</li>
                    </ul>
                    <div class="pr-footer text-center mt-60">
                        <a href="javascript:void(0);" class="btn-twelve w-100 rounded-0 sm">Subscribe Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-fancy-banner-two></app-fancy-banner-two>
<app-footer-5></app-footer-5>