<ul class="navbar-nav align-items-lg-center">

    <li class="d-block d-lg-none">
        <div class="logo">
            <a routerLink="/" class="d-block">
                <img src="assets/images/logo/logo_01.svg" alt="">
            </a>
        </div>
    </li>

    <!-- Accueil -->
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="javascript:void(0);" data-bs-toggle="dropdown">
            Accueil
        </a>
        <ul class="dropdown-menu">
            <li>
                <a routerLink="/" class="dropdown-item">
                    <span>Accueil principal</span>
                </a>
            </li>

        </ul>
    </li>

    <!-- Catalogue -->
    <li class="nav-item dropdown mega-dropdown-sm">
        <a class="nav-link dropdown-toggle" href="javascript:void(0);" data-bs-toggle="dropdown">
            Catalogue
        </a>

        <ul class="dropdown-menu">
            <li class="row gx-1">

                <!-- Réservations -->
                <div class="col-lg-4">
                    <div class="menu-column">
                        <h6 class="mega-menu-title">Réservations</h6>
                        <ul class="style-none mega-dropdown-list">
                            <li><a routerLink="/hotels" class="dropdown-item"><span>Hôtels & Chambres</span></a></li>
                            <li><a routerLink="/agences-voitures" class="dropdown-item"><span>Agences & Voitures</span></a></li>
                        </ul>
                    </div>
                </div>

                <!-- Découverte -->
                <div class="col-lg-4">
                    <div class="menu-column">
                        <h6 class="mega-menu-title">Découverte</h6>
                        <ul class="style-none mega-dropdown-list">
                            <li><a routerLink="/zones-touristiques" class="dropdown-item"><span>Zones touristiques</span></a></li>
                            <li><a routerLink="/avis-commentaires" class="dropdown-item"><span>Avis voyageurs</span></a></li>

                        </ul>
                    </div>
                </div>

               
            </li>
        </ul>
    </li>

    <!-- Liens rapides -->
    
    <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact</a>
    </li>


</ul>