<div class="footer-four position-relative z-1">
    <div class="container container-large">
        <div class="bg-wrapper position-relative z-1">
            <div class="row">
                <div class="col-xxl-3 col-lg-4 mb-60">
                    <div class="footer-intro">
                        <div class="logo mb-20">
                            <a routerLink="/">
                                <img src="assets/images/logo/logo_06.svg" alt="Homy Voyage">
                            </a>
                        </div>
                        <p class="mb-30 xs-mb-20">Réservation d'hôtels, location de voitures et circuits pour explorer les zones touristiques. Siège&nbsp;:&nbsp;Tunis</p>
                        <a href="mailto:contact@homy.com" class="email tran3s mb-60 md-mb-30">contact&#64;homy.com</a>

                        <!-- Retour à l'accueil (bouton ajouté) -->
                        <div class="mt-3">
                            <a routerLink="/" class="btn btn-outline-dark btn-sm">Retour à l'accueil</a>
                            <h5 class="footer-title">Informations</h5>
                            <p><a routerLink="/faq">FAQ</a></p>
                        </div>
                    </div>
                </div>
                
                
                
            </div>
        </div>

        <div class="bottom-footer">
            <p class="m0 text-center fs-16">Copyright &#64;2026 Homy Voyage.</p>
        </div>
    </div>
    <img src="assets/images/assets/ils_06.svg" alt="" class="lazy-img shapes shape_01">
</div>
